{# greeting.twig #}
{% twig_js name="template_download" %}
{% for i, file in o.files %}
    <tr class="template-download fade">
        <td>
            <span class="preview">
                {% if file.thumbnailUrl %}
                    <a href="{{ file.url }}" title="{{ file.name }}" download="{{ file.name }}" data-gallery><img src="{{ file.thumbnailUrl }}"></a>
                {% endif %}
            </span>
        </td>
        <td>
            <p class="name">
                {% if file.url %}
                    <a href="{{ file.url }}" title="{{ file.name }}" download="{{ file.name }}" {{ file.thumbnailUrl ? 'data-gallery' : '' }}>{{ file.name }}</a>
                {% else %}
                    <span>{{ file.name }}</span>
                {% endif %}
            </p>
            {% if file.error %}
                <div>
                    <span class="label label-danger">Error</span> {{ file.error }}
                </div>
            {% endif %}
        </td>
        <td>
            <span class="size">{{ o.formatFileSize(file.size) }}</span>
        </td>
        <td>
            {% if (file.deleteUrl) %}
                <button class="btn btn-danger delete" data-type="{{ file.deleteType }}" data-url="{{ file.deleteUrl }}"{% if (file.deleteWithCredentials) %} data-xhr-fields='{"withCredentials":true}'{% endif %}>
                    <i class="glyphicon glyphicon-trash"></i>
                    <span>Delete</span>
                </button>
                <input type="checkbox" name="delete" value="1" class="toggle">
            {% else %}
                <button class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel</span>
                </button>
            {% endif %}
        </td>
    </tr>
{% endfor %}