{% extends ite_parent_form_resource('ITEFormBundle:Form/Component/collection:bs3.html.twig') %}

{% block form_rows_visible %}
    {% spaceless %}
        {% if form_errors(form) %}
            <div class="symfony-form-errors">
                {{ form_errors(form) }}
            </div>
        {% endif %}
        {% for index, child in form %} {# add index #}
            {% if 'hidden' not in child.vars.block_prefixes %} {# smbdy: why do we not add the hiddens of childs? 131024 phiamo: i think form rest should do this !? it was afaik removed because it cause side effekts #}
                {% if 'collection' in form.vars.block_prefixes and not omit_collection_item %}
                    <{{ collection_item_tag }} class="collection-item {{ widget_items_attr.class|default('') }}" data-index="{{ index }}"> {# add collection_item_tag and "data-index" #}
                {% endif %}
                {{ form_row(child) }}
                {% if 'collection' in form.vars.block_prefixes and not omit_collection_item %}
                    </{{ collection_item_tag }}> {# add collection_item_tag #}
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endspaceless %}
{% endblock form_rows_visible %}

{#{% block widget_form_group_start %}#}
    {#{% if widget_form_group|default(false) or form.parent == null %}#}
        {#&#123;&#35; remove addition .collection-item class &#35;&#125;#}
        {#{% if prototype is defined %}#}
            {#{% set data_prototype = 'collection' in form.vars.block_prefixes and not omit_collection_item ? '<' ~ collection_item_tag ~ ' class="collection-item ' ~ widget_items_attr.class|default()|join(' ') ~ '" id="' ~ prototype.vars.id ~ '_control_group">' ~ form_row(prototype) ~ '</' ~ collection_item_tag ~ '>' : form_row(prototype) %} &#123;&#35; add collection_item_tag &#35;&#125;#}
            {#{% set data_prototype_name = form.vars.form.vars.prototype.vars.name|default('__name__') %}#}
            {#{% set widget_form_group_attr_class = widget_form_group_attr.class|default('') %}#}
            {#{% set widget_form_group_attr = widget_form_group_attr|merge({'data-prototype': data_prototype, 'data-prototype-name': data_prototype_name, 'data-collection-id': collection_id})|merge(attr) %} &#123;&#35; add 'data-collection-id' &#35;&#125;#}
            {#{% set widget_form_group_attr = widget_form_group_attr|merge({'class': widget_form_group_attr_class}) %}#}
        {#{% endif %}#}
        {#&#123;&#35; collection item adds class to form-group &#35;&#125;#}
        {#{% set widget_form_group_attr = widget_form_group_attr|merge({'id': id ~ '_control_group', 'class': widget_form_group_attr.class}) %}#}
        {#{% if 'collection' in form.vars.block_prefixes and attr.class is defined %}#}
            {#{% set widget_form_group_attr = widget_form_group_attr|merge({'class': widget_form_group_attr.class ~ ' ' ~ attr.class}) %}#}
        {#{% elseif errors|length > 0 %}#}
            {#{% set widget_form_group_attr = widget_form_group_attr|merge({'class': widget_form_group_attr.class|default('') ~ ' has-error'}) %}#}
        {#{% endif %}#}
        {#<div{% if help_widget_popover %}{{ block('help_widget_popover') }}{% endif %} {% for attrname,attrvalue in widget_form_group_attr %} {{attrname}}="{{attrvalue}}"{% endfor %}>#}
        {#&#123;&#35; a form item containing the field in block_prefixes is a near subform or a field directly &#35;&#125;#}
        {#{% if (form|length > 0 and form.parent != null)#}
        {#and 'field' not in form.vars.block_prefixes %}#}
            {#{% if show_child_legend%}#}
                {#{{ block('form_legend') }}#}
            {#{% elseif label_render %}#}
                {#{{ form_label(form, label|default(null)) }}#}
            {#{% endif %}#}
        {#{% else %}#}
            {#{% if label_render %}#}
                {#{{ form_label(form, label|default(null)) }}#}
            {#{% endif %}#}
        {#{% endif %}#}
    {#{% else %}#}
        {#{% if label_render %}#}
            {#{{ form_label(form, label|default(null)) }}#}
        {#{% endif %}#}
    {#{% endif %}#}
{#{% endblock widget_form_group_start %}#}

{% block widget_form_group_start %}
    {% if widget_form_group|default(false) or form.parent == null %}
        {% if prototype is defined %}
            {% set data_prototype_name = form.vars.form.vars.prototype.vars.name|default('__name__') %}
            {% set data_prototype = 'collection' in form.vars.block_prefixes and not omit_collection_item ? '<' ~ collection_item_tag ~ ' class="collection-item ' ~ widget_items_attr.class|default('') ~ '">' ~ form_row(prototype) ~ '</' ~ collection_item_tag ~ '>' : form_row(prototype) %} {# add collection_item_tag #}
            {% set widget_form_group_attr = widget_form_group_attr|merge({'data-prototype': data_prototype, 'data-prototype-name': data_prototype_name})|merge(attr) %}
        {% endif %}
        {# collection item adds class to form-group #}
        {% set widget_form_group_attr = widget_form_group_attr|merge({'id': id ~ '_form_group', 'class': widget_form_group_attr.class ~ ' ' ~ id ~ '_form_group'}) %}
        {% if errors|length > 0 %}
            {% set widget_form_group_attr = widget_form_group_attr|merge({'class': widget_form_group_attr.class|default('') ~ ' has-error'}) %}
        {% endif %}
        {% if 'collection' in form.vars.block_prefixes and attr.class is defined %}
            {% set widget_form_group_attr = widget_form_group_attr|merge({'class': widget_form_group_attr.class|default('row') ~ ' ' ~ attr.class}) %}
        {% endif %}
        <div{% if help_widget_popover.title is not sameas(null) %}{{ block('help_widget_popover') }}{% endif %} {% for attrname,attrvalue in widget_form_group_attr %} {{attrname}}="{{attrvalue}}"{% endfor %}>
        {# a form item containing the field in block_prefixes is a near subform or a field directly #}
        {% if (form|length > 0 and form.parent != null)
        and 'field' not in form.vars.block_prefixes %}
            {% if show_child_legend%}
                {{ block('form_legend') }}
            {% elseif label_render %}
                {{ form_label(form, label|default(null)) }}
            {% endif %}
        {% else %}
            {% if label_render %}
                {{ form_label(form, label|default(null)) }}
            {% endif %}
        {% endif %}
    {% else %}
        {% if label_render %}
            {{ form_label(form, label|default(null)) }}
        {% endif %}
    {% endif %}
{% endblock widget_form_group_start %}

{% block form_label %}
    {% if 'checkbox' not in block_prefixes or widget_checkbox_label in ['label', 'both'] %}
        {% spaceless %}
            {% if label is not sameas(false) %}
                {% if label is empty %}
                    {% set label = name|humanize %}
                {% endif %}
                {% if not compound %}
                    {% set label_attr = label_attr|merge({'for': id}) %}
                {% endif %}
                {% set label_attr_class = ' control-label ' %}
                {% if horizontal %}
                    {% set label_attr_class = label_attr_class ~ horizontal_label_class %}
                {% endif %}
                {% set label_attr = label_attr|merge({'class': label_attr.class|default('') ~ label_attr_class ~ (required ? ' required' : ' optional') }) %}
                <label{% for attrname,attrvalue in label_attr %} {{attrname}}="{{attrvalue}}"{% endfor %}>
                {{ label|trans({}, translation_domain) }}
                {{- block('label_asterisk') }}
                {# remove 'form_widget_add_btn' #}
                {% if help_label %}
                    {{ block('help_label') }}
                {% endif %}
                {% if help_label_tooltip.title %}
                    {{ block('help_label_tooltip') }}
                {% endif %}
                {% if help_label_popover.title %}
                    {{ block('help_label_popover') }}
                {% endif %}
                </label>
            {% endif %}
        {% endspaceless %}
    {% endif %}
{% endblock form_label %}

{% block collection_widget %}
    {% spaceless %}
        {% set collection_horizontal_input_wrapper_class = '' %}
        {% if not inline and horizontal %}
            {% set collection_horizontal_input_wrapper_class = horizontal_input_wrapper_class ~ (not label_render ? ' ' ~ horizontal_label_offset_class : '') %}
        {% endif %}
        <div class="{{ collection_horizontal_input_wrapper_class }}">
            <div class="collection-items">
                {{ block('form_widget') }}
            </div>
            {% if 'collection' in form.vars.block_prefixes and widget_add_btn|default(null) %}
                {{ block('form_widget_add_btn') }}
            {% endif %}
        </div>
    {% endspaceless %}
{% endblock collection_widget %}