{% extends ite_parent_form_resource(_self.templateName) %}

{#{% block form_rows_visible %}#}
    {#{% spaceless %}#}
        {#{% for index, child in form %}#}
            {#{% if 'hidden' not in child.vars.block_prefixes %}#}
                {#{% if 'collection' in form.vars.block_prefixes %}#}
                    {#&#123;&#35; pass index to child.vars.attr &#35;&#125;#}
                    {#&#123;&#35;{% set child = child|merge({'vars': {'attr': {'data-index': index} } }) %}&#35;&#125;#}
                {#{% endif %}#}
                {#{{ form_row(child) }}#}
            {#{% endif %}#}
        {#{% endfor %}#}
    {#{% endspaceless %}#}
{#{% endblock form_rows_visible %}#}

{% block widget_form_group_start %}
{% if widget_form_group|default(false) or form.parent == null %}
    {% set widget_form_group_tag = 'div' %}
    {% if form.parent is not null and 'collection' in form.parent.vars.block_prefixes %} {# i am a collection child #}
        {# collection item wrapper doesnt need form-group it gets added to childs anyways #}
        {% set widget_form_group_attr = widget_form_group_attr|merge({
            'class': ('collection-item ' ~ widget_form_group_attr.class|default(''))|trim,
            'id': id
        }) %}
        {% set widget_form_group_tag = form.parent.vars.collection_item_tag|default('div') %}
    {% endif %}
    {% if errors|length > 0 %}
	    {# Add Error Class to Widget Wrapper#}
	    {% set widget_form_group_attr = widget_form_group_attr|merge({'class': widget_form_group_attr.class|default('') ~ ' has-error'}) %}
    {% endif %}
    {% if help_widget_popover.selector is sameas(null) %}
        {% set help_widget_popover = help_widget_popover|merge({'selector': '#' ~ id }) %}
    {% endif %}
    <{{ widget_form_group_tag }}{% if help_widget_popover.title is not sameas(null) %}{{ block('help_widget_popover') }}{% endif %} {% for attrname,attrvalue in widget_form_group_attr %} {{attrname}}="{{attrvalue}}"{% endfor %}>
    {# a form item containing the field in block_prefixes is a near subform or a field directly #}
    {% if (form|length > 0 and form.parent != null)
        and 'field' not in form.vars.block_prefixes
        and 'date' not in form.vars.block_prefixes %}
        {% if show_child_legend%}
            {{ block('form_legend') }}
        {% elseif label_render %}
            {{ form_label(form, label|default(null)) }}
        {% else %}
        {% endif %}
    {% else %}
        {% if label_render %}
            {{ form_label(form, label|default(null)) }}
        {% endif %}
    {% endif %}
{% else %}
    {% if label_render %}
        {{ form_label(form, label|default(null)) }}
    {% endif %}
{% endif %}
{% endblock widget_form_group_start %}

{% block widget_form_group_end %}
{% spaceless %}
    {% set widget_form_group_tag = 'div' %}
    {% if widget_form_group|default(false) or form.parent == null %}
        {% if form.parent is not null and 'collection' in form.parent.vars.block_prefixes and not omit_collection_item %}
            {% set widget_form_group_tag = form.parent.vars.collection_item_tag|default('div') %}
        {% endif %}
        </{{ widget_form_group_tag }}>
    {% endif %}
{% endspaceless %}
{% endblock widget_form_group_end %}

{% block collection_attributes -%}
    {% set collection_attr = [] %}
    {% if 'collection' in form.vars.block_prefixes %}
        {% if prototype is defined %}
            {% set prototype_markup = form_row(prototype) %}
            {% set data_prototype_name = form.vars.form.vars.prototype.vars.name|default('__name__') %}
            {% set data_prototype_label = form.vars.form.vars.prototype.vars.label|default('__name__label__') %}
            {% set collection_attr = collection_attr|merge({
                'data-prototype': prototype_markup,
                'data-prototype-name': data_prototype_name,
                'data-prototype-label': data_prototype_label
            }) %}
        {% endif %}
        {% set collection_attr = collection_attr|merge({
            'id': id,
            'data-collection-id': collection_id
        })|merge(attr) %}

        {%- for attrname, attrvalue in collection_attr -%}
            {{- " " -}}
            {%- if attrvalue is sameas(true) -%}
                {{- attrname }}="{{ attrname }}"
            {%- elseif attrvalue is not sameas(false) -%}
                {{- attrname }}="{{ attrvalue }}"
            {%- endif -%}
        {%- endfor -%}
    {% endif %}
{%- endblock %}

{% block collection_widget %}
{% spaceless %}
    <div {{ block('collection_attributes') }}>
    {# Add initial prototype form #}
    {% if form.vars.value|length == 0 and prototype is defined %}
        {% for name in prototype_names %}
            {{ prototype_markup|replace({'__name__': name})|raw }}
        {% endfor %}
    {% endif %}
    <div class="collection-items">
        {{ block('form_widget') }}
    </div>
    {% if 'collection' in form.vars.block_prefixes and widget_add_btn|default(null) %}
        {{ block('form_widget_add_btn') }}
    {% endif %}
    </div>
{% endspaceless %}
{% endblock collection_widget %}

{% block form_widget_add_btn %}
{% spaceless %}
    {% if widget_add_btn|default(null) %}
        {% set collection_id = id %}
    {% endif %}
    {{ parent() }}
{% endspaceless %}
{% endblock form_widget_add_btn %}

{% block form_widget_remove_btn %}
    {% spaceless %}
        {% if widget_remove_btn|default(null) %}
            {% set collection_id = form.parent.vars.id %}
        {% endif %}
        {% if form.vars['remove_btn_rendered'] is not defined %}
            {{ parent() }}
            {{ ite_set_attribute(form, 'vars[remove_btn_rendered]', true) }}
        {% endif %}

    {% endspaceless %}
{% endblock form_widget_remove_btn %}

{% block collection_button %}
    <a {% for attrname,attrvalue in button_values.attr %} {{attrname}}="{{attrvalue}}"{% endfor %} data-collection-{{ button_type }}-btn="#{{ collection_id }}">
    {% if button_values.icon is not null %}
        {{ mopa_bootstrap_icon(button_values.icon, button_values.icon_inverted|default(false)) }}
    {% endif %}
    {% if button_values.label is defined %}
        {{ button_values.label|trans({}, translation_domain) }}
    {% endif %}
    </a>
{% endblock collection_button %}

{% block form_label %}
{% if 'checkbox' not in block_prefixes or widget_checkbox_label in ['label', 'both'] %}
{% spaceless %}
    {% if label is not sameas(false) %}
        {% if label is empty %}
            {%- if label_format is defined and label_format is not empty -%}
                {% set label = label_format|replace({
                '%name%': name,
                '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {% endif %}
        {% if not compound %}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {% endif %}
        {% set label_attr_class = '' %}
        {% if horizontal %}
            {% set label_attr_class = 'control-label ' ~ label_attr_class ~ horizontal_label_class %}
        {% endif %}
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ " " ~ label_attr_class ~ (required ? ' required' : ' optional'))|trim }) %}
        <label{% for attrname,attrvalue in label_attr %} {{attrname}}="{{attrvalue}}"{% endfor %}>
        {{ label|trans({}, translation_domain) }}
        {{- block('label_asterisk') }}
        {# remove 'form_widget_add_btn' block call  #}
        {% if help_label %}
            {{ block('help_label') }}
        {% endif %}
        {% if help_label_tooltip.title %}
            {{ block('help_label_tooltip') }}
        {% endif %}
        {% if help_label_popover.title %}
            {{ block('help_label_popover') }}
        {% endif %}
        </label>
    {% endif %}
{% endspaceless %}
{% endif %}
{% endblock form_label %}

{#############################################################################################}

{#{% block form_rows_visible %}#}
    {#{% spaceless %}#}
        {#{% if form_errors(form) %}#}
            {#<div class="symfony-form-errors">#}
                {#{{ form_errors(form) }}#}
            {#</div>#}
        {#{% endif %}#}
        {#{% for index, child in form %} &#123;&#35; add index &#35;&#125;#}
            {#{% if 'hidden' not in child.vars.block_prefixes %} &#123;&#35; smbdy: why do we not add the hiddens of childs? 131024 phiamo: i think form rest should do this !? it was afaik removed because it cause side effekts &#35;&#125;#}
                {#{% if 'collection' in form.vars.block_prefixes and not omit_collection_item %}#}
                    {#<{{ collection_item_tag }} class="collection-item {{ widget_items_attr.class|default('') }}" data-index="{{ index }}"> &#123;&#35; add collection_item_tag and "data-index" &#35;&#125;#}
                {#{% endif %}#}
                {#{{ form_row(child) }}#}
                {#{% if 'collection' in form.vars.block_prefixes and not omit_collection_item %}#}
                    {#</{{ collection_item_tag }}> &#123;&#35; add collection_item_tag &#35;&#125;#}
                {#{% endif %}#}
            {#{% endif %}#}
        {#{% endfor %}#}
    {#{% endspaceless %}#}
{#{% endblock form_rows_visible %}#}

{#{% block widget_form_group_start %}#}
    {#{% if widget_form_group|default(false) or form.parent == null %}#}
        {#{% if prototype is defined %}#}
            {#{% set data_prototype_name = form.vars.form.vars.prototype.vars.name|default('__name__') %}#}
            {#{% set data_prototype = 'collection' in form.vars.block_prefixes and not omit_collection_item ? '<' ~ collection_item_tag ~ ' class="collection-item ' ~ widget_items_attr.class|default('') ~ '">' ~ form_row(prototype) ~ '</' ~ collection_item_tag ~ '>' : form_row(prototype) %} &#123;&#35; add collection_item_tag &#35;&#125;#}
            {#{% set widget_form_group_attr = widget_form_group_attr|merge({'data-prototype': data_prototype, 'data-prototype-name': data_prototype_name})|merge(attr) %}#}
        {#{% endif %}#}
        {#&#123;&#35; collection item adds class to form-group &#35;&#125;#}
        {#{% set widget_form_group_attr = widget_form_group_attr|merge({'id': id ~ '_form_group', 'class': widget_form_group_attr.class ~ ' ' ~ id ~ '_form_group'}) %}#}
        {#{% if errors|length > 0 %}#}
            {#{% set widget_form_group_attr = widget_form_group_attr|merge({'class': widget_form_group_attr.class|default('') ~ ' has-error'}) %}#}
        {#{% endif %}#}
        {#{% if 'collection' in form.vars.block_prefixes and attr.class is defined %}#}
            {#{% set widget_form_group_attr = widget_form_group_attr|merge({'class': widget_form_group_attr.class|default('row') ~ ' ' ~ attr.class}) %}#}
        {#{% endif %}#}
        {#<div{% if help_widget_popover.title is not sameas(null) %}{{ block('help_widget_popover') }}{% endif %} {% for attrname,attrvalue in widget_form_group_attr %} {{attrname}}="{{attrvalue}}"{% endfor %}>#}
        {#&#123;&#35; a form item containing the field in block_prefixes is a near subform or a field directly &#35;&#125;#}
        {#{% if (form|length > 0 and form.parent != null)#}
        {#and 'field' not in form.vars.block_prefixes %}#}
            {#{% if show_child_legend%}#}
                {#{{ block('form_legend') }}#}
            {#{% elseif label_render %}#}
                {#{{ form_label(form, label|default(null)) }}#}
            {#{% endif %}#}
        {#{% else %}#}
            {#{% if label_render %}#}
                {#{{ form_label(form, label|default(null)) }}#}
            {#{% endif %}#}
        {#{% endif %}#}
    {#{% else %}#}
        {#{% if label_render %}#}
            {#{{ form_label(form, label|default(null)) }}#}
        {#{% endif %}#}
    {#{% endif %}#}
{#{% endblock widget_form_group_start %}#}

{#{% block collection_widget %}#}
{#{% spaceless %}#}
    {#&#123;&#35; Add row by default use attr.class to change&#35;&#125;#}
	{#{% if 'collection' in form.vars.block_prefixes and attr.class is defined %}#}
		{#{% set widget_form_group_attr = widget_form_group_attr|merge({'class': widget_form_group_attr.class|default('row') ~ ' ' ~ attr.class}) %}#}
	{#{% endif %}#}
    {#&#123;&#35; collection item adds class {form_id}_form-group  too &#35;&#125;#}
    {#{% set widget_form_group_attr = widget_form_group_attr|merge({'class': widget_form_group_attr.class ~ ' ' ~ id ~ '_form_group'}) %}#}

    {#<div {% for attrname,attrvalue in widget_form_group_attr %} {{attrname}}="{{attrvalue}}"{% endfor %}>#}
    {#&#123;&#35; Add initial prototype form &#35;&#125;#}
    {#{% if form.vars.value|length == 0 and prototype is defined %}#}
        {#{% for name in prototype_names %}#}
            {#{{ prototype_markup|replace({'__name__': name})|raw }}#}
        {#{% endfor %}#}
    {#{% endif %}#}
        {#&#123;&#35; new code begin &#35;&#125;#}
        {#<div class="collection-items">#}
            {#{{ block('form_widget') }}#}
        {#</div>#}
        {#{% if 'collection' in form.vars.block_prefixes and widget_add_btn|default(null) %}#}
            {#{{ block('form_widget_add_btn') }}#}
        {#{% endif %}#}
        {#&#123;&#35; new code end &#35;&#125;#}
    {#</div>#}
{#{% endspaceless %}#}
{#{% endblock collection_widget %}#}