{% extends 'MopaBootstrapBundle:Form:fields.html.twig' %}

{% block form_rows_visible %}
    {% spaceless %}
        {% for index, child in form %} {# add index #}
            {% if 'hidden' not in child.vars.block_prefixes %}
                {% if 'collection' in form.vars.block_prefixes and not omit_collection_item %}
                    <div class="collection-item {{ widget_items_attr.class|default()|join(' ') }}" id="{{ child.vars.id }}_control_group" data-index={{ index }}> {# add data-index #}
                {% endif %}
                {{ form_row(child) }}
                {% if 'collection' in form.vars.block_prefixes and not omit_collection_item %}
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endspaceless %}
{% endblock form_rows_visible %}

{% block widget_control_group_start %}
    {% spaceless %}
        {% if widget_control_group|default(false) or form.parent == null %}
            {% if prototype is defined %}
                {% set data_prototype = 'collection' in form.vars.block_prefixes and not omit_collection_item ? '<div class="collection-item ' ~ widget_items_attr.class|default()|join(' ') ~ '" id="' ~ prototype.vars.id ~ '_control_group">' ~ form_row(prototype) ~ '</div>' : form_row(prototype) %}
                {% set data_prototype_name = form.vars.form.vars.prototype.vars.name|default('__name__') %}
                {% set widget_control_group_attr = widget_control_group_attr|merge({'data-prototype': data_prototype, 'data-prototype-name': data_prototype_name, 'data-widget-controls': widget_controls|default(false) ? 'true' : 'false', 'data-collection-id': prototype.parent.vars.id ~ '_control_group'})|merge(attr) %} {# add 'data-collection-id' #}
            {% endif %}
            {% set widget_control_group_attr = widget_control_group_attr|merge({'id': id ~ '_control_group', 'class': widget_control_group_attr.class|default('') ~ ' control-group'}) %}
            {% if errors|length > 0 %}
                {% set widget_control_group_attr = widget_control_group_attr|merge({'class': widget_control_group_attr.class|default('') ~ ' error'}) %}
            {% endif %}
            {% if 'collection' in form.vars.block_prefixes and attr.class is defined %}
                {% set widget_control_group_attr = widget_control_group_attr|merge({'class': widget_control_group_attr.class|default('') ~ ' ' ~ attr.class}) %}
            {% endif %}
            <div {% for attrname,attrvalue in widget_control_group_attr %} {{attrname}}="{{attrvalue}}"{% endfor %}>
            {# a form item containing the field in block_prefixes is a near subform or a field directly #}
            {% if (form|length > 0 and form.parent != null)
            and 'field' not in form.vars.block_prefixes %}
                {% if show_child_legend%}
                    {{ block('form_legend') }}
                {% elseif label_render %}
                    {{ form_label(form, label|default(null)) }}
                {% endif %}
            {% else %}
                {% if label_render %}
                    {{ form_label(form, label|default(null)) }}
                {% endif %}
            {% endif %}
            {% if widget_controls|default(false) or form.parent == null %}
                {% set widget_controls_attr = widget_controls_attr|merge({'class': widget_controls_attr.class|default('') ~ ' controls'}) %}
                <div {% for attrname,attrvalue in widget_controls_attr %}{{attrname}}="{{attrvalue}}" {% endfor %}>
            {% endif %}
        {% else %}
            {% if label_render %}
                {{ form_label(form, label|default(null)) }}
            {% endif %}
        {% endif %}
    {% endspaceless %}
{% endblock widget_control_group_start %}