{% extends 'form_div_layout.html.twig' %}

{% block ite_select2_widget %}
    {{ block('choice_widget') }}
    {{ ite_form_sf_add_element('select2', '#' ~ id, element_data) }}
{% endblock ite_select2_widget %}

{% block ite_select2_ajax_entity_widget %}
    {{ block('hidden_widget') }}
    {{ ite_form_sf_add_element('select2', '#' ~ id, element_data) }}
{% endblock ite_select2_ajax_entity_widget %}

{% block ite_tinymce_textarea_widget %}
    {{ block('textarea_widget') }}
    {{ ite_form_sf_add_element('tinymce', '#' ~ id, element_data) }}
{% endblock ite_tinymce_textarea_widget %}

{% block ite_bootstrap_colorpicker_text_widget %}
    {{ block('form_widget_simple') }}
    {{ ite_form_sf_add_element('bootstrap_colorpicker', '#' ~ id, element_data) }}
{% endblock ite_bootstrap_colorpicker_text_widget %}

{% block ite_bootstrap_datetimepicker_widget %}
    {{ block('form_widget_simple') }}
    {{ ite_form_sf_add_element('bootstrap_datetimepicker', '#' ~ id, element_data) }}
{% endblock ite_bootstrap_datetimepicker_widget %}

{% block ite_bootstrap_datetimepicker2_widget %}
    <div id="{{ id }}_bootstrap_datetimepicker2" class="input-append bootstrap-datetimepicker2">
        {{ block('form_widget_simple') }}
        <span class="add-on">
            <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
        </span>
    </div>
    {{ ite_form_sf_add_element('bootstrap_datetimepicker2', '#' ~ id ~ '_bootstrap_datetimepicker2', element_data) }}
{% endblock ite_bootstrap_datetimepicker2_widget %}

{% block ite_fileupload_file_widget %}
    <span class="btn btn-success fileinput-button">
        <i class="icon-plus"></i>
        Browse
        {{ block('form_widget_simple') }}
    </span>
    {{ ite_form_sf_add_element('fileupload', '#' ~ id, element_data) }}
{% endblock ite_fileupload_file_widget %}

{# refactor below #}

{% block form_start %}
    {% spaceless %}
        {{ parent() }}
        {% if ajax %}
            {{ ite_form_sf_add_element('ajaxForm', '#' ~ id, element_data) }}
        {% endif %}
    {% endspaceless %}
{% endblock form_start %}

{% block ite_input_entity_widget %}
    {% if widget == 'hidden' %}
        {{ block('hidden_widget') }}
    {% else %}
        {{ block('form_widget_simple') }}
    {% endif %}
{% endblock ite_input_entity_widget %}

{% block ite_markup_widget %}
    {% spaceless %}
        {{ markup|raw }}
    {% endspaceless %}
{% endblock ite_markup_widget %}