{% block ite_bootstrap_datetimepicker_widget %}
    {{ block('form_widget_simple') }}
{% endblock ite_bootstrap_datetimepicker_widget %}

{% block ite_starrating_rating_widget %}
    <div {{ block('widget_container_attributes') }}>
        {% for child in form %}
            {{ form_widget(child, {'attr': {
                'class': attr.widget_class|default(''),
                'title': child.vars.label|trans({}, translation_domain)
            } }) }}
        {% endfor %}
    </div>
{% endblock ite_starrating_rating_widget %}

{% block ite_ion_range_slider_widget %}
    {{ block('form_widget_simple') }}
{% endblock ite_ion_range_slider_widget %}

{% block ite_bootstrap_daterangepicker_widget %}
    {{ block('form_widget_simple') }}
{% endblock ite_bootstrap_daterangepicker_widget %}

{% block ite_markup_widget %}
    <p {{ block('widget_container_attributes') }}>
        {% if translate %}
            {% set markup = markup|trans({}, translation_domain) %}
        {% endif %}
        {% if markup_raw %}
            {{ markup|raw }}
        {% else %}
            {{ markup }}
        {% endif %}
    </p>
{% endblock ite_markup_widget %}

{% block ite_markup_hidden_row %}
    {{ block('form_row') }}
{% endblock ite_markup_hidden_row %}

{% block ite_markup_hidden_widget %}
    {% set id_copy = id %}
    {% set attr_copy = attr %}
    {% set attr = markup_attr %}
    {% set id = attr.id|default(id ~ '_markup') %}
    {{ block('ite_markup_widget') }}
    {% set id = id_copy %}
    {% set attr = attr_copy %}
    {{ block('hidden_widget') }}
{% endblock ite_markup_hidden_widget %}

{% block ite_ajax_file_widget %}
    <div {{ block('widget_container_attributes') }}>
        {% for child in form %}
            {{ form_widget(child) }}
        {% endfor %}
    </div>
{% endblock ite_ajax_file_widget %}

{%- block ite_inputmask_integer_widget -%}
    {%- set type = 'text' -%}
    {{ block('form_widget_simple') }}
{%- endblock ite_inputmask_integer_widget -%}

{# refactor below #}

{#{% block ite_fileupload_file_widget %}#}
    {#{% set selector = id %}#}
    {#{% if widget == 'basic' %}#}
        {#<span class="btn btn-success fileinput-button">#}
        {#<i class="icon-plus"></i>#}
            {#Add files...#}
            {#{{ block('form_widget_simple') }}#}
        {#</span>#}
    {#{% elseif widget == 'basic_plus' %}#}

    {#{% else %}#}
        {#<div id="{{ id }}_container" data-property-path="{{ full_name }}">#}
            {#<div class="row-fluid fileupload-buttonbar">#}
                {#<div class="span7">#}
                {#<span class="btn btn-success fileinput-button">#}
                    {#<i class="icon-plus"></i>#}
                    {#Add files...#}
                    {#{{ block('form_widget_simple') }}#}
                {#</span>#}
                    {#<button type="submit" class="btn btn-primary start">#}
                        {#<i class="icon-upload"></i>#}
                        {#Start upload#}
                    {#</button>#}
                    {#<button type="reset" class="btn btn-warning cancel">#}
                        {#<i class="icon-ban-circle"></i>#}
                        {#Cancel upload#}
                    {#</button>#}
                    {#<button type="button" class="btn btn-danger delete">#}
                        {#<i class="icon-trash"></i>#}
                        {#Delete#}
                    {#</button>#}
                    {#<input type="checkbox" class="toggle">#}
                    {#<span class="fileupload-process"></span>#}
                {#</div>#}
                {#<div class="span5 fileupload-progress fade">#}
                    {#<div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">#}
                        {#<div class="progress-bar progress-bar-success" style="width:0%;"></div>#}
                    {#</div>#}
                    {#<div class="progress-extended">&nbsp;</div>#}
                {#</div>#}
            {#</div>#}
            {#<table role="presentation" class="table table-striped">#}
                {#<tbody class="files"></tbody>#}
            {#</table>#}
        {#</div>#}
        {#{% set selector = id ~ '_container' %}#}
    {#{% endif %}#}
    {#{% for plugin, element_data in plugins %}#}
        {#{{ ite_form_sf_add_plugin_element('#' ~ selector, plugin, element_data) }}#}
    {#{% endfor %}#}
{#{% endblock ite_fileupload_file_widget %}#}

{#{% block ite_fineuploader_file_widget %}#}
    {#<div id="{{ id }}_fine_uploader" data-property-path="{{ full_name }}"></div>#}
    {#{{ block('form_widget_simple') }}#}
    {#{% for plugin, element_data in plugins %}#}
        {#{{ ite_form_sf_add_plugin_element('#' ~ id ~ '_fine_uploader', plugin, element_data) }}#}
    {#{% endfor %}#}
{#{% endblock ite_fineuploader_file_widget %}#}