{% extends 'form_div_layout.html.twig' %}

{% block ite_select2_widget %}
    {{ block('choice_widget') }}
    {{ ite_form_sf_add_plugin_element('#' ~ id, 'select2', element_data) }}
{% endblock ite_select2_widget %}

{% block ite_select2_ajax_entity_widget %}
    {{ block('hidden_widget') }}
    {{ ite_form_sf_add_plugin_element('#' ~ id, 'select2', element_data) }}
{% endblock ite_select2_ajax_entity_widget %}

{% block ite_tinymce_textarea_widget %}
    {{ block('textarea_widget') }}
    {{ ite_form_sf_add_plugin_element('#' ~ id, 'tinymce', element_data) }}
{% endblock ite_tinymce_textarea_widget %}

{% block ite_bootstrap_colorpicker_text_widget %}
    {{ block('form_widget_simple') }}
    {{ ite_form_sf_add_plugin_element('#' ~ id, 'bootstrap_colorpicker', element_data) }}
{% endblock ite_bootstrap_colorpicker_text_widget %}

{% block ite_bootstrap_datetimepicker_widget %}
    {{ block('form_widget_simple') }}
    {{ ite_form_sf_add_plugin_element('#' ~ id, 'bootstrap_datetimepicker', element_data) }}
{% endblock ite_bootstrap_datetimepicker_widget %}

{% block ite_bootstrap_datetimepicker2_widget %}
    <div id="{{ id }}_bootstrap_datetimepicker2" class="input-append bootstrap-datetimepicker2">
        {{ block('form_widget_simple') }}
        <span class="add-on">
            <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
        </span>
    </div>
    {{ ite_form_sf_add_plugin_element('#' ~ id ~ '_bootstrap_datetimepicker2', 'bootstrap_datetimepicker2', element_data) }}
{% endblock ite_bootstrap_datetimepicker2_widget %}

{% block ite_fileupload_file_widget %}
    {% set selector = id %}
    {% if widget == 'basic' %}
        <span class="btn btn-success fileinput-button">
        <i class="icon-plus"></i>
            Add files...
            {{ block('form_widget_simple') }}
        </span>
    {% elseif widget == 'basic_plus' %}

    {% else %}
        <div id="{{ id }}_container" data-property-path="{{ full_name }}">
            <div class="row-fluid fileupload-buttonbar">
                <div class="span7">
                <span class="btn btn-success fileinput-button">
                    <i class="icon-plus"></i>
                    Add files...
                    {{ block('form_widget_simple') }}
                </span>
                    <button type="submit" class="btn btn-primary start">
                        <i class="icon-upload"></i>
                        Start upload
                    </button>
                    <button type="reset" class="btn btn-warning cancel">
                        <i class="icon-ban-circle"></i>
                        Cancel upload
                    </button>
                    <button type="button" class="btn btn-danger delete">
                        <i class="icon-trash"></i>
                        Delete
                    </button>
                    <input type="checkbox" class="toggle">
                    <span class="fileupload-process"></span>
                </div>
                <div class="span5 fileupload-progress fade">
                    <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                    </div>
                    <div class="progress-extended">&nbsp;</div>
                </div>
            </div>
            <table role="presentation" class="table table-striped">
                <tbody class="files"></tbody>
            </table>
        </div>
        {% set selector = id ~ '_container' %}
    {% endif %}
    {{ ite_form_sf_add_plugin_element('#' ~ selector, 'fileupload', element_data) }}
{% endblock ite_fileupload_file_widget %}

{% block ite_fineuploader_file_widget %}
    <div id="{{ id }}_fine_uploader" data-property-path="{{ full_name }}"></div>
    {{ block('form_widget_simple') }}
    {{ ite_form_sf_add_plugin_element('#' ~ id ~ '_fine_uploader', 'fineuploader', element_data) }}
{% endblock ite_fineuploader_file_widget %}

{% block ite_minicolors_text_widget %}
    {{ block('form_widget_simple') }}
    {{ ite_form_sf_add_plugin_element('#' ~ id, 'minicolors', element_data) }}
{% endblock ite_minicolors_text_widget %}

{% block ite_knob_number_widget %}
    {{ block('form_widget_simple') }}
    {{ ite_form_sf_add_plugin_element('#' ~ id, 'knob', element_data) }}
{% endblock ite_knob_number_widget %}

{% block ite_starrating_rating_widget %}
    <div {{ block('widget_container_attributes') }}>
        {% for child in form %}
            {{ form_widget(child, {'attr': {
            'class': attr.widget_class|default(''),
            'title': child.vars.label|trans({}, translation_domain)
            } }) }}
        {% endfor %}
    </div>
    {{ ite_form_sf_add_plugin_element('#' ~ id ~ ' input[type="radio"]', 'starrating', element_data) }}
{% endblock ite_starrating_rating_widget %}

{% block form_start %}
    {% spaceless %}
        {% do ite_debug() %}
        {{ parent() }}
        {% if plugins is defined %}
            {% for plugin, element_data in plugins %}
                {{ ite_form_sf_add_plugin_element('#' ~ id, plugin, element_data) }}
            {% endfor %}
        {% endif %}
    {% endspaceless %}
{% endblock form_start %}

{# refactor below #}

{% block ite_input_entity_widget %}
    {% if widget == 'hidden' %}
        {{ block('hidden_widget') }}
    {% else %}
        {{ block('form_widget_simple') }}
    {% endif %}
{% endblock ite_input_entity_widget %}

{% block ite_markup_widget %}
    {% spaceless %}
        {{ markup|raw }}
    {% endspaceless %}
{% endblock ite_markup_widget %}