<a {{ _self.widget_attributes(attr) }} href="#">{{ text|raw }}</a>
{{ ite_form_sf_add_plugin_element('#' ~ attr.id, 'x_editable', element_data) }}

{% macro widget_attributes(attr) %}
    {% spaceless %}
        {% for attrname, attrvalue in attr %}{{ attrname }}="{{ attrvalue }}" {% endfor %}
    {% endspaceless %}
{% endmacro %}